html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Arvo', serif;
}

.cormenu{
    background-color: blue;
}

section{
    background-color: blue;
    border-radius: 20px;
    padding: 2%;
}
#sobre, #video, #alunos{
    margin-top: 3%;
}

.shadownova{
    box-shadow:  0 15px 20px 0 ;
}

.banner{
    width: 100%;
}